/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/js/snow.js
resources/views/layouts/app.blade.php
resources/views/layouts/app.blade.php
public/images/1633354182.jpg
